.header {
    background-color: #222;
    height: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 32px;
    padding-left: 16px;
    align-items: center;
}

.header img {
    background-color: #ff7f7f;
    height: 35px;
    
}

.bookShow {
vertical-align: top;
margin-left: 990px;
}

.login {
    float: right; 
    vertical-align: middle;
}

.logout {
    float: right; 
    vertical-align: middle;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 200px;
    width: 200px;
}
.logo{
    background-color: #ff7f7f;
    height: 35px;
    transform: rotate(180deg);
    animation: spinHorizontal 8s linear infinite;
}
@keyframes spinHorizontal {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    padding: auto;
    margin: auto;


}
.buttonContainer {
    padding: 10px;
    margin-top: 10px;
}

.error {
    color: red;
    font-size: 10px;

}


